* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
   background-image: url("./background/main-background.jpg");
   background-size: 100vw 1000vh;
   font-family: Helvetica, Arial;
   font-size: 1.3vw;
}

header 
{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: top;
}


.menu {
	background-color: #67BDC4;
	position: fixed;
	width: 100vw;
	top: 0;
}
.menu a {
	display: block;
	padding: 12px 12px;
}

.menu li {
 list-style: none;
	
}

.menu ul {
	display: flex;
	justify-content: space-around;
}

a {
  color: black;
  text-decoration: none;	
}

a:hover {	
	color: #FFFFFF;
	text-decoration: none;
}

@keyframes teste {
 	from {color: whitesmoke;}
  	to {color: #90c2c5;}
}

h1:hover {
  	animation-name: teste;
  	animation-duration: 0.35s;
}

.titulo h1 {
	color: #5d4c39;
	text-align: center;
	margin: 50px;
	display: grid;
}	

.meses-grid h2{
	display: grid;
	grid-template-columns: 100px 100px 100px;
	margin-bottom: 52px;
	justify-content: center;
	color: #5e4cafd3;
	text-decoration: wavy;
}
.meses-grid h2:hover {
	text-transform: lowercase;
	
  }