* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
   background-image: url("./background/main-background.jpg");
   background-size: 100vw 3000vh;
   font-family: Helvetica, Arial;
}

header 
{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}


.menu {
	background-color: #67BDC4;
	position: fixed;
	width: 100vw;
	top: 0;
}
.menu a {
	display: block;
	padding: 12px 12px;
	font-size: 2vw;
}


@media(max-width: 500px){
	.menu a {
	display: block;
	padding: 12px 12px;
	font-size: 3vw;
	}
}


.menu li {
 list-style: none;
	
}

.menu ul {
	display: flex;
	justify-content: space-around;
}

a {
  color: black;
  text-decoration: none;	
}

a:hover {	
	color: #FFFFFF;
	text-decoration: none;
}

@keyframes teste {
 	from {color: whitesmoke;}
  	to {color: #90c2c5;}
}

h1:hover {
  	animation-name: teste;
  	animation-duration: 0.35s;
}

.subtitulo,
.titulo {
   color: #5d4c39;
   text-align: center;
}

.titulo h1 {
	font-size: 8vw;
}
