* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
   background-image: url("./background/main-background.jpg");
   background-size: 200vw 200vh;
   font-family: Helvetica, Arial;
}

header {
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu {
	background-color: #67BDC4;
	position: fixed;
	width: 200vw;
	top: 0;
}

.menu a {
	display: block;
	padding: 12px 13px;
}

.menu li {
 list-style: none;	
}

.menu ul {
	display: flex;
	justify-content: space-around;
}

a {
  color: black;
  text-decoration: none;
  font-size: 2em;	
}

a:hover {	
	color: #FFFFFF;
	text-decoration: none;
}

.portfolio {
	color: #0F120F;
	font-family: Arial;
	text-align: center;
}

.portfolio h2 {
	display: grid;
	font-size: 2em;
	padding: 40px;
}

.portfolio .grid {
	display: grid;
	grid-template-columns: 300px 400px 300px;
	align-content: 2px;
	justify-content: center;
	height: 2px;
}

@media (max-width: 850px){
	.portfolio .grid {
	display: grid;
	grid-template-columns: 300px 300px;
	align-content: flex-start;
	justify-content: center;
	height: 2px;
	}
}
@media (max-width: 470px){
	.portfolio .grid {
	display: grid;
	grid-template-columns: 300px;
	align-content:  flex-start;
	justify-content: center;
	height: 2px;
	}
}

.portfolio figure {
	text-align: center;
	margin-bottom: 40px;
}

.img-portfolio {
	height: 140px;
	width: 140px;
	object-fit: cover;
	border-radius: 50%;
}